<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="product">
        <table class="product_list">
          <tr>
            <th>상품명</th>
            <th>금액</th>
          </tr>
          <% PD.forEach((vo, index) =>{ %>
          <tr>
            <td><%- PD.p_name %></td>
            <td><%- PD.p_price %></td>
          </tr>
          <% }) %>
        </table>
        <button>주문추가</button>
      </div>
      <div class="order">
        <table class="order_list">
          <tr></tr>
        </table>
      </div>
    </div>
  </body>
  <script></script>
</html>
